*{margin:0; padding:0;}
html{
    ffont-family: Helvetica;
}
body{
    background-color: #f0f0f0;
    width: 100%;
    max-width: 677px;
    margin: auto
}
a{
    text-decoration: none;
}
ul{
	display: block;
	list-style:none;
}
.content_list{
	margin-top: 8px;
	background: #fff;
}
.content_list li{
	line-height: 48px;
	margin-left: 16px;
	height: 48px;
	background: #fff;
	border-bottom: 0.03em solid #ddd;
	box-sizing: border-box;
}
.content_list li a{
	font-size: 14px;
	color: #333;
	display: block;
}
.content_list li a em{
	margin-right: 16px;
	margin-top: 17px;
	float: right;
	height: 14px;
	width: 8px;
	background: url(../images/ChevronRight.png) no-repeat;
	background-size: 100% 100%;
	display: inline-block;	
}
.content_list li.last{
	border: none;
}