*{margin:0; padding:0;}
html{
    font-family: Helvetica;
}
body{
    background-color: #f0f0f0;
    width: 100%;
    max-width: 677px;
    margin: auto
}
.content{
	text-align: justify;
	background: #fff;
	border-radius: 4px;
	margin: 16px 16px 16px;
	box-shadow:0px 0px 6px rgba(160,160,160,0.3);
}
.banner{
	border-radius: 4px 4px 0px 0px;
	height: 192px;
	overflow:hidden;
}
.banner img{
	background-size:contain|cover;
	background-repeat:no-repeat;
	width:100%;
	height: auto;
}
.content dl dt{
	text-align: center;
	padding-top: 16px;
	font-size: 16px;
	font-weight: bold;
}
.content dl dd{
	text-indent: 28px;
	line-height: 20px;
	padding: 16px;
	font-size: 14px;
	color: #666;
}